In [3]:
import pandas as pd
import numpy as np

In [8]:
#load ECG dataset
ab = pd.read_csv('data/ptbdb_abnormal.csv',index_col=None,header=None)
ab.head()

nr = pd.read_csv('data/ptbdb_normal.csv',index_col=None,header=None)
nr.head()

,0,1,2,3,4,5,6,7,8,9,...,178,179,180,181,182,183,184,185,186,187
0,1.000000,0.900324,0.358590,0.051459,0.046596,0.126823,0.133306,0.119125,0.110616,0.113047,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.000000,0.794681,0.375387,0.116883,0.000000,0.171923,0.283859,0.293754,0.325912,0.345083,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.909029,0.791482,0.423169,0.186712,0.000000,0.007836,0.063032,0.077002,0.074957,0.077342,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.000000,0.478893,0.056760,0.064176,0.081289,0.072732,0.055619,0.048774,0.054478,0.041643,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.000000,0.867238,0.201360,0.099349,0.141336,0.120934,0.108516,0.096393,0.093436,0.100828,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
ab.shape

(10506, 188)

In [9]:
nr.shape

(4046, 188)

In [10]:
ab = ab.apend(nr,ignore_index=True)

AttributeError: 'DataFrame' object has no attribute 'apend'

In [3]:
oof = pd.DataFrame(np.zeros((100,129)))
for i in range(100):
    r = np.random.randint(0, high=df.shape[0])
    oof.loc[i] = df.iloc[r,:].values
    df = df.drop(r, axis=0)
    
oof.head()

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,128
0,0.74538,0.40512,0.128420,0.099474,0.114200,0.103230,0.105870,0.106610,0.112800,0.127750,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.74866,0.72859,0.383160,0.197020,0.045909,0.076691,0.081215,0.079596,0.074503,0.074752,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.82901,0.59209,0.016027,0.053118,0.098701,0.094618,0.081813,0.091729,0.088893,0.091431,...,0.000396,-0.000277,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.83462,0.52939,0.070495,0.168920,0.103080,0.118290,0.091153,0.102890,0.094212,0.098071,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.83817,0.82017,0.297060,0.246950,0.201970,0.244970,0.217150,0.232860,0.220050,0.223310,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [4]:
oof.to_csv('data/oof.csv')
df.to_csv('data/data_train.csv')